<div class="animate-fadeIn">
    <a [routerLink]="['/product', product().slug]" class="block overflow-hidden">
        <img
          class="w-full aspect-square object-cover transition-[opacity,transform,scale] duration-300 hover:scale-105"
          [src]="product().images | productImage"
          [alt]="product().title"
          loading="lazy"
          style="opacity: 0"
          (load)="$any($event.target).style.opacity = '1'" />
    </a>
    <div class="mt-3">
      <div class="flex items-center justify-between gap-2">
        <a class="font-montserrat text-lg line-clamp-1 hover:text-accent transition-colors duration-300" [routerLink]="['/product', product().slug]">
          {{product().title}}
        </a>
        <div class="flex gap-1.5 shrink-0">
          @for(tag of product().tags | slice:0:3; track tag){
            <span class="text-xs px-2 py-0.5 border border-base-300 rounded-xs font-montserrat">{{tag | titlecase}}</span>
          }
        </div>
      </div>
      <div class="flex items-center justify-between mt-1">
        <span class="font-montserrat text-lg">${{product().price.toFixed(2)}}</span>
        <a [routerLink]="['/product', product().slug]" class="underline hover:text-accent transition-colors duration-300">Add To Bag</a>
      </div>
    </div>
</div>
