@import "tailwindcss";
@theme {
    --font-sans: "Outfit", sans-serif;
    --font-montserrat: "Outfit", sans-serif;
    --animate-fadeIn: fadeIn 0.15s ease-in-out;
    @keyframes fadeIn {
        0% {opacity: 0};
        100% {opacity: 1}
    }
}

@plugin "daisyui" {
    themes: teslo --default;
}

@plugin "daisyui/theme" {
    name: "teslo";
    default: true;
    color-scheme: light;

    --color-base-100: oklch(93% 0.02 85);
    --color-base-200: oklch(89% 0.025 80);
    --color-base-300: oklch(83% 0.03 75);
    --color-base-content: oklch(18% 0.01 50);

    --color-primary: oklch(52% 0.16 28);
    --color-primary-content: oklch(96% 0.01 85);
    --color-secondary: oklch(53% 0.05 145);
    --color-secondary-content: oklch(96% 0.01 85);
    --color-accent: oklch(62% 0.12 65);
    --color-accent-content: oklch(18% 0.02 65);
    --color-neutral: oklch(25% 0.02 145);
    --color-neutral-content: oklch(92% 0.02 85);

    --color-info: oklch(65% 0.15 235);
    --color-info-content: oklch(25% 0.06 235);
    --color-success: oklch(62% 0.17 150);
    --color-success-content: oklch(96% 0.01 150);
    --color-warning: oklch(80% 0.15 80);
    --color-warning-content: oklch(25% 0.08 80);
    --color-error: oklch(55% 0.2 25);
    --color-error-content: oklch(96% 0.01 25);

    --radius-selector: 0.375rem;
    --radius-field: 0.375rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

/* html:root:has(.drawer:not(.drawer-open) > .drawer-toggle:checked) {
  scrollbar-gutter: auto !important;
} */

/* :where(:root:has(.modal-open, .modal[open], .modal:target, .modal-toggle:checked, .drawer:not(.drawer-open) > .drawer-toggle:checked)) {
  scrollbar-gutter: stable !important;
} */

html{
    scrollbar-gutter: stable;
}

html:root:has(#my-drawer-2:checked) {
  scrollbar-gutter: auto !important;
}

#my-drawer-2:checked ~ .drawer-content label[for="my-drawer-2"] {
  color: var(--color-accent);
}

@media (width < 64rem) {
    html:root:has(#admin-drawer) {
        scrollbar-gutter: auto !important;
    }
}


html:root:has(#cart-drawer:checked) {
  background-color: var(--color-base-100);
}
