<div class="navbar bg-base-100 font-montserrat lg:hidden sticky top-0 z-10 border-b border-base-content/10">
    <div class="navbar-start">
        <a class="text-xl select-none tracking-wide font-montserrat pb-[2px] max-lg:px-2 group hover:text-primary transition-all duration-400" routerLink="/">
            Tesso <span class="text-primary group-hover:text-secondary transition-all duration-400">| Shop</span>
        </a>
        <span class="text-xs uppercase tracking-widest text-neutral/50 lg:ml-2 pt-[2px] inline select-none">Admin</span>
    </div>
    <div class="navbar-end">
        <label for="my-drawer-2" class="p-2 cursor-pointer hover:text-accent transition-colors duration-150">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"><line x1="3" x2="21" y1="8" y2="8"/><line x1="3" x2="21" y1="16" y2="16"/></svg>
        </label>
    </div>
</div>
